<ion-view hide-nav-bar="true">
  <ion-content class="//padding">
        
                         <div><img style="width: 100%;" src="img/about-top.jpg" /></div>
                         <div>
                                 <div class="about-title">
                                         <div class="titlemar">关于我们</div>
                                 </div>
                                 <div><span class="qian"></span><span class="hou"></span></div>
                                 <div class="about-content conmar">吉 富派是吉富投资旗下境外基金理财用户终端，我们旨在 通 过该互联网产品平台为高净值人群提供海外基金资产配 置 建议、主题机会推介、基金详情和市场研究以及其他销 售 整合渠道等一系列服务。</div>
                         </div>
                         <div>
                                 <div class="about-title">
                                         <span class="titlemar">关于吉富</span>
                                 </div>
                                 <div><span class="qian"></span><span class="hou"></span></div>
                                 <div class="about-content conmar">
                                         吉富投资咨询（上海）有限公司成立于2011年，致力于为 华 人提供一站式海外基金投资理财服务。公司团队由具有 全 球投资经验的精英人士组成，以更具国际视野、更加专 业 的服务，为客户出海投资保驾护航，帮助客户安全稳健 地 获取境外理财收益。
                                 </div>
                         </div>
                         <div>
                                 <div class="about-title">
                                         <span class="titlemar">法律声明</span>
                                 </div>
                                 <div><span class="qian"></span><span class="hou"></span></div>
                                 <div class="about-content conmar">
                                         本产品所载信息和资料仅供用户参考，我们不对资料的真 实 性、准确性、完整性作任何承诺和保证，凡因此投资引 起 的亏损本公司不承担任何责任。
                                 </div>
                         </div>
                         <div>
                                 <div class="about-title">
                                         <span class="titlemar">服务电话</span>
                                 </div>
                                 <div><span class="qian"></span><span class="hou"></span></div>
                                 <div class="about-content conmar">
                                         服务电话：021-51215988
                                 </div>
                         </div>
                         <div>
                                 <div class="about-title">
                                         <span class="titlemar">线上客服</span>
                                 </div>
                                 <div><span class="qian"></span><span class="hou"></span></div>
                                 <div class="about-content conmar">
                                         <div>关注微信公众号“吉富投资”，点击微客服</div>
                                         <div style="text-align: center;margin-top: 13px;">
                                                 <img src="img/erweima.jpg" />
                                                 <div>微信号：jifufund</div>
                                         </div>
                                         <div style="width: 60%;margin: auto;margin-top: 13px;text-align: center;">
                                                 <a class="button button-positive button-small btn-more" href="http://www.chifufund.com/">更多信息，请访问官网</a>
                                         </div>
                                         <div style="text-align: center;margin-top: 13px;">沪ICP备16001471号—1</div>
                                 </div>
                         </div>

               

  </ion-content>
</ion-view>
